html {
  background-color: grey;
}

.content-container {
  background-color: grey;
}

.main-button {
  margin: 10px !important;
}

.main-page-container {
  width: fit-content;
  margin: auto;
  margin-top: 150px;
  padding: 10px;
  background-color: grey;
  -webkit-box-shadow: 11px 9px 39px 2px rgba(110, 110, 110, 1);
  -moz-box-shadow: 11px 9px 39px 2px rgba(110, 110, 110, 1);
  box-shadow: 11px 9px 39px 2px rgba(110, 110, 110, 1);
}
