body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.main-frontpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 3em;
  margin-bottom: 5vh;
}

.event-container {
  display: flex;
  align-items: center;
}

.team {
  display: flex;
  flex-direction: column;
  margin: 10vw;
}

.team-logo {
  max-height: 10vh;
}