body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.main-frontpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 3em;
  margin-bottom: 5vh;
}

.picker-event-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  margin: 5vh;
  height: 20vh;
  width: 85vw;
}

.picker-team {
  display: flex;
  flex-direction: column;
  max-width: 27vw;
  margin: auto 2vw;
  margin-top: 2vh;
}

.picker-team-logo{
  max-height: 10vh;
  max-width: 30vw;
  object-fit: scale-down;
}

.picker-team-name {
  max-height: 10vh;
  max-width: 30vw;
}

.picker-team input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

.picker-team input:active +.team-label{opacity: .9;}
.picker-team input:checked +.team-label{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.team-label{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.team-label:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
